$TRANSITION_DURATION: 300;

.Sidebar-close-button{
  width: 24px;
  height: 46px;
  top: 20px;
  background: rgba(255,255,255,1);
  position: absolute;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;

  &.right {
    left: -22px;
    box-shadow: -5px 3px 7px 0px rgba(0,0,0,0.3);
  }

  &.left {
    right: -22px;
    box-shadow: 5px 3px 7px 0 rgba(0,0,0,0.3);
  }

  &.open{
    cursor: pointer;
  }

  /** Childs **/

  & > div{
    color: #666 !important;
    font-size: 24px !important;
  }
}